# SSL certs
docker/nginx/certs/

# DB data
mysql/data/

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Logs
*.log
xdebug.log
php_error.log

# Docker
*.pid
*.sock
docker-compose.override.yml

# IDE
.vscode/*
!.vscode/launch.json
.idea/
